@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alert {
    @apply container inline-flex rounded-md p-5 font-semibold;
  }

  .alert.success {
    @apply bg-green-200 text-gray-600;
  }

  .alert.error {
    @apply bg-red-200 text-gray-600;
  }

  .alert.warning {
    @apply bg-orange-200 text-gray-700;
  }

  .alert.info {
    @apply bg-cyan-200 text-gray-700;
  }

  .alert.contained.success {
    @apply bg-green-500 text-white;
  }

  .alert.contained.error {
    @apply bg-red-500 text-white;
  }

  .alert.contained.warning {
    @apply bg-orange-500 text-white;
  }

  .alert.contained.info {
    @apply bg-cyan-500 text-white;
  }

  .alert.outlined.success {
    @apply bg-transparent border-solid border-2 border-green-500;
  }

  .alert.outlined.error {
    @apply bg-transparent border-solid border border-red-500;
  }
  
  .alert.outlined.warning {
    @apply bg-transparent border-solid border border-orange-500;
  }
  
  .alert.outlined.info {
    @apply bg-transparent border-solid border border-cyan-500;
  }

  .alert.success .icon {
    @apply text-green-500 stroke-current stroke-1;
  }

  .alert.error .icon {
    @apply text-red-500 stroke-current stroke-1;
  }

  .alert.warning .icon {
    @apply text-orange-500 stroke-current stroke-1;
  }

  .alert.info .icon {
    @apply text-cyan-500 stroke-current stroke-1;
  }

  .alert.contained .icon {
    @apply text-white stroke-current stroke-1;
  }

  .btn {
    @apply inline-flex px-4 py-1 bg-gray-200 border-gray-200 rounded-md shadow-el-2 border
    text-gray-700 hover:bg-gray-300 hover:border-gray-300 font-roboto-300
    transition
    tracking-wide text-sm sm:text-base
    items-center stroke-current stroke-1;
  }

  .btn.contained {
    @apply  focus:outline-none bg-purple-500 border-purple-500
    hover:bg-purple-600 hover:border-purple-600 text-white;
  }

  .theme-th1 .btn.contained {
    @apply  focus:outline-none bg-pink-500 border-pink-500
    hover:bg-pink-600 hover:border-pink-600 text-white;
  }

  .theme-th2 .btn.contained {
    @apply  focus:outline-none bg-teal-500 border-teal-500
    hover:bg-teal-600 hover:border-teal-600 text-white;
  }

  .btn.contained.success {
    @apply  focus:outline-none bg-green-500 border-green-500
    hover:bg-green-600 hover:border-green-600 text-white;
  }  

  .btn.contained.error {
    @apply  focus:outline-none bg-red-500 border-red-500
    hover:bg-red-600 hover:border-red-600 text-white;
  }

  .btn.contained.warning {
    @apply  focus:outline-none bg-orange-500 border-orange-500
    hover:bg-orange-600 hover:border-orange-600 text-white;
  }

  .btn.contained.info {
    @apply  focus:outline-none bg-cyan-500 border-cyan-500
    hover:bg-cyan-600 hover:border-cyan-600 text-white;
  }

  .btn.outlined {
    @apply bg-transparent border-purple-500
    hover:border-purple-400 hover:text-purple-400
    text-purple-500;
  }

  .btn.outlined.success {
    @apply border-green-500
    hover:border-green-400 hover:text-green-400
    text-green-500;
  }

  .btn.outlined.error {
    @apply border-red-500
    hover:border-red-400 hover:text-red-400
    text-red-500;
  }

  .btn.outlined.warning {
    @apply border-orange-500
    hover:border-orange-400 hover:text-orange-400
    text-orange-500;
  }

  .btn.outlined.info {
    @apply border-cyan-500
    hover:border-cyan-400 hover:text-cyan-400
    text-cyan-500;
  }

  .btn.text {
    @apply rounded-md border-none shadow-none
    text-purple-500 hover:text-purple-400
    active:text-purple-600;
  }

  .btn.text.success {
    @apply rounded-md border-none shadow-none
    text-green-500 hover:text-green-400
    active:text-green-600;
  }

  .btn.text.error {
    @apply rounded-md border-none shadow-none
    text-red-500 hover:text-red-400
    active:text-red-600;
  }

  .btn.text.warning {
    @apply rounded-md border-none shadow-none
    text-orange-500 hover:text-orange-400
    active:text-orange-600;
  }

  .btn.text.info {
    @apply rounded-md border-none shadow-none
    text-cyan-500 hover:text-cyan-400
    active:text-cyan-600;
  }

  .btn.fab {
    @apply focus:outline-none bg-purple-500 border-purple-500
    hover:bg-purple-600 hover:border-purple-600 text-white
    p-0 rounded-full w-10 h-10 flex justify-center items-center;
  }

  .btn.fab.success {
    @apply focus:outline-none bg-green-500 border-green-500
    hover:bg-green-600 hover:border-green-600 text-white
    p-0 rounded-full w-10 h-10 flex justify-center items-center;
  }

  .btn.fab.error {
    @apply focus:outline-none bg-red-500 border-red-500
    hover:bg-red-600 hover:border-red-600 text-white
    p-0 rounded-full w-10 h-10 flex justify-center items-center;
  }

  .btn.fab.warning {
    @apply focus:outline-none bg-orange-500 border-orange-500
    hover:bg-orange-600 hover:border-orange-600 text-white
    p-0 rounded-full w-10 h-10 flex justify-center items-center;
  }

  .btn.fab.info {
    @apply focus:outline-none bg-cyan-500 border-cyan-500
    hover:bg-cyan-600 hover:border-cyan-600 text-white
    p-0 rounded-full w-10 h-10 flex justify-center items-center;
  }

  .btn.block {
    @apply container;
  }

  .ripple {
    @apply relative overflow-hidden;
  }

  .elev-0 {
    @apply shadow-el-0;
  }

  .elev-1 {
    @apply shadow-el-1;
  }

  .elev-2 {
    @apply shadow-el-2;
  }

  .elev-3 {
    @apply shadow-el-3;
  }

  .elev-4 {
    @apply shadow-el-4;
  }

  .elev-24 {
    @apply shadow-el-24;
  }
}

